<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charaminstra.pleon.doctor">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name=".DoctorActivity"
            android:exported="false"
            android:label="@string/title_activity_doctor"
            android:theme="@style/Theme.PLeon_AOS.NoActionBar" />
    </application>

</manifest>